<div class="document-list-wrapper">
  <mat-card class="document-list-card">
    <h2 class="document-list-title">📑 My Documents</h2>

    <mat-list *ngIf="documents.length > 0; else noDocs">
      <mat-list-item *ngFor="let doc of documents">
        <div class="doc-info">
          <span class="doc-name">{{ doc.fileName }}</span>
          <span class="doc-type">{{ doc.documentType }}</span>
        </div>
        <div class="doc-actions">
          <button mat-icon-button color="primary" (click)="viewDocument(doc.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteDocument(doc.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>

    <ng-template #noDocs>
      <p class="no-docs">No documents uploaded yet.</p>
    </ng-template>
  </mat-card>
</div>
