<div class="login-wrapper">
  <mat-card class="login-card">
    <h2 class="login-title">Welcome Back 👋</h2>

    <form (ngSubmit)="onLogin()" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width">
        Login
      </button>
    </form>

    <div class="register-link">
      <span>Don’t have an account?</span>
      <button mat-button color="accent" (click)="goToRegister()">Register</button>
    </div>
  </mat-card>
</div>
